*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #333;
}
.container-menu {
    width: 300px;
    height: 300px;
    /* background: orange; */
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn-menu {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #f1f1f1;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.ligne {
    width: 40px;
    height: 5px;
    border-radius: 5px;
    background: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.1s ease-in-out;
}
.ligne::before {
    content: '';
    position: absolute;
    bottom: 10px;
    background: #333;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}
.ligne::after {
    content: '';
    position: absolute;
    top: 10px;
    background: #333;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}
.container-menu.active .ligne::before {
    transform: translateY(10px) rotate(-45deg);
}
.container-menu.active .ligne {
    background: transparent;
}
.container-menu.active .ligne::after {
    transform: translateY(-10px) rotate(45deg);
}
.icone {
    width: 40px;
}
.blob {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.blob-1 {
    background: #e0fefe;
    transition: all 0.2s 0.1s ease-in-out;
}
.blob-2 {
    background: #c7ceea;
    transition: all 0.2s 0.2s ease-in-out;
}
.blob-3 {
    background: #ffdac1;
    transition: all 0.2s 0.3s ease-in-out;
}
.blob-4 {
    background: #ff9aa2;
    transition: all 0.2s 0.4s ease-in-out;
}
.blob-5 {
    background: #ffffd8;
    transition: all 0.2s 0.5s ease-in-out;
}
.blob-6 {
    background: #b5ead7;
    transition: all 0.2s 0.6s ease-in-out;
}
.blob-7 {
    background: gold;
    transition: all 0.2s 0.7s ease-in-out;
}
.blob-8 {
    background: darksalmon;
    transition: all 0.2s 0.8s ease-in-out;
}


.container-menu.active .blob-1 {
    left: 100%;
}
.container-menu.active .blob-2 {
    left: 85%;
    top: 85%;
}
.container-menu.active .blob-3 {
    left: 50%;
    top: 100%;
}
.container-menu.active .blob-4 {
    left: 15%;
    top: 85%;
}
.container-menu.active .blob-5 {
    left: 0%;
    top: 50%;
}

.container-menu.active .blob-6 {
    left: 15%;
    top: 15%;
}

.container-menu.active .blob-7 {
    left: 50%;
    top: 0%;
}
.container-menu.active .blob-8 {
    left: 85%;
    top: 15%;
}
