*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #2f2f2f;
}

.contenu-site {
    margin-left: 110px;
}
h1 {
    text-align: center;
    font-size: 50px;
    color: #f1f1f1;
}

.liste-nav {
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    min-height: 900px;
    width: 110px;
    background: #565656;
    cursor: pointer;
    z-index: 20;
}
.items:nth-child(1){
    font-size: 20px;
}
.items {
    height: 110px;
    width: 100%;
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #333;
}
.icones {
    width: 30px;
}
.items:nth-child(5) img {
    width: 25px;
}
.items p {
    margin: 10px 0;
}

/* Sous-listes */

.sous-menu {
    position: fixed;
    top: 0;
    left: -210px;
    width: 250px;
    height: 100vh;
    min-height: 900px;
    background: rgb(32,32,32);
    border-left: 7px solid #000;
    border-right: 7px solid #000;
    color: #f1f1f1;
    z-index: 5;
    transition: all 0.2s ease-in-out;
}
.header-liste {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-bottom: 1px solid #333;
}
.items-sous-menu {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 20px 40px;
}
.items-sous-menu img {
    width: 20px;
}
.items-sous-menu p {
    margin-left: 10px;
}
/* anim */
.active {
    left: 110px;
}